html {
    color:white;
}

.noto-sans {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.zen-maru {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-item a{
    color: rgb(200, 200, 200);
}

.nav-item a:hover {
    transition:all 0.7s;
    color: rgb(255, 255, 255);
}

.nav-item .selected:hover {
    transition:all 0.7s;
    background-color:#f8e56c;
}

.nav-item .selected {
    transition:all 0.7s;
    background-color: #f8e56c;
}

.nav-item .selected a {
    color: #fff;
}

.visible {
    visibility: visible;
}

.invisible { 
    visibility: collapse;
    overflow: hidden;
    height: 0;
    width: 0;
}

.text-season {
    color: white;
    text-decoration: underline;
}

.btn-spectro {
    background: #f8e56c !important;
    color: #000 !important;
}

.btn-spectro:hover {
    color: #000 !important;
    background-color: #f0d12b !important;
}
